{% extends "base.html" %}
{% block title %}自動化リクエストフォーム{% endblock %}
{% block content %}

<style>
    a {
      font-size: 1rem;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>送信完了</title>
    <script>
        function closeWindow() {
            window.close();
        }
    </script>
</head>
<body>
    <h1>送信が完了しました！</h1>
    <p>ご協力ありがとうございます。</p>
<div style="position: relative; min-height: 100px;"> <!-- 例: main の高さを確保 -->

    <div style="position: absolute; bottom: 0; right: 0; display: flex; flex-direction: column; align-items: flex-end; ">
        <a href="{% url 'info:request_form' %}"> >>別のシステムもリクエストしたい</a>
    </div>
</div>
</body>
</html>

{% endblock %}
